.nameLabel{
    border-bottom-width:1;
    border-color:#999999;
    width: 100%;
    padding: 10;
}
.action-bar {
    background-color: #259CA2;
    color: white;
    font-size: 15;
}

.action-title {
    padding: 9 11 9 0;
    height: 56;
}

.action-bar-button {
    font-size: 25;
    line-height: 22;
    text-align: center;
}

.action-text-title {
    font-size: 20;
    font-family: "Roboto-Medium";
}

.action-text-save {
    font-size: 14;
    line-height: 11;
    font-weight: bold;
    height: 16;
}

.logo {
    height: 33;
    width: 93;
}

.padding {
    padding: 5 5 5 5;
}