<ActionBar title="Tappter" class="action-bar action-title"></ActionBar>

<StackLayout>
    <GridLayout tkExampleTitle tkToggleNavButton>
        <RadListView [items]="list" [itemTemplateSelector]="templateSelector">
            <ng-template tkTemplateKey="item" let-item="item">
                <StackLayout orientation="horizontal" (tap)="onSelect(item)">
                    <Label class="nameLabel" [text]="item.name" verticalAlignment="center" textWrap="true"></Label>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</StackLayout>