<ActionBar title="Tappter" class="action-bar action-title"></ActionBar>
<ScrollView>
    <StackLayout>
        <RadDataForm tkExampleTitle tkToggleNavButton [source]="list"></RadDataForm>
        <button text="Save" (tap)="save()"></button>
    </StackLayout>

</ScrollView>