<ActionBar title="Tappter" class="action-bar action-title"></ActionBar>
    <StackLayout>
        <Label text="Name: " textWrap="true"></Label><Label [text]="this.list.name" class="nameLabel" textWrap="true"></Label>
        <Label text="Age: " textWrap="true"></Label><Label [text]="this.list.age" class="nameLabel" textWrap="true"></Label>
        <Label text="Country: " textWrap="true"></Label><Label [text]="this.list.country" class="nameLabel" textWrap="true"></Label>
        <Label text="Mobile number: " textWrap="true"></Label><Label [text]="this.list.mobileNumber" class="nameLabel"
            textWrap="true"></Label>
        <Label text="E-mail: " textWrap="true"></Label><Label [text]="this.list.emailAddress" class="nameLabel"
            textWrap="true"></Label>
        <Label text="Gender: " textWrap="true"></Label><Label [text]="this.list.gender" class="nameLabel" textWrap="true"></Label>
    </StackLayout>
