<GridLayout rows="*, auto">
    <page-router-outlet></page-router-outlet>
  <BottomNavigation id="bottomNavigation" row="1" activeColor="#259CA2" (tabSelected)="onBottomNavigationTabSelected($event)">
      <BottomNavigationTab title="Contacts" icon="phonebook"></BottomNavigationTab>
      <BottomNavigationTab title="Profile" icon="user"></BottomNavigationTab>
    </BottomNavigation>
</GridLayout>