<ActionBar title="Tappter" class="action-bar action-title"></ActionBar>
<Pager [items]="list" #pager [selectedIndex]="currentPagerIndex" (selectedIndexChanged)="onIndexChanged($event)" class="pager">
    <ng-template let-i="index" let-item="item">
        <GridLayout class="pager-item" rows="auto,*" columns="*" padding="50">
            <StackLayout orientation="vertical" verticalAlignment="center" width="50%" height="50%" class="background"
                (tap)="callHome(item)">
                <!-- <Label class="fa" text="&#xf044;" fontSize="30" marginRight="20" color="#ffffff" horizontalAlignment="right"
                    ></Label> -->
                <Label [text]="item.title" color="#ffffff" fontSize="22" fontWeight="500" horizontalAlignment="center"></Label>
                <Label [text]="item.number" color="#ffffff" horizontalAlignment="center" fontWeight="500" marginTop="5"
                    textWrap="true"></Label>
                <button class="btn btn-primary" color="#ffffff" text="Edit Profile" (tap)="EditContact(item)"></button>
            </StackLayout>
        </GridLayout>
    </ng-template>
</Pager>