.background {
    border-radius: 20;
    /* padding: 50; */
    background-color: #259CA2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

.my-button {
    background-color: #259CA2;
    border-radius: 20;
    color: white;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif,
        Courier,
        monospace;
    vertical-align: middle;
    width: 80%;
}

.my-button:active {
    background-color: rgb(50, 77, 78);
    color: white;
}
.action-bar {
    background-color: #259CA2;
    color: white;
    font-size: 15;
}

.action-title {
    padding: 9 11 9 0;
    height: 56;
}

.action-bar-button {
    font-size: 25;
    line-height: 22;
    text-align: center;
}

.action-text-title {
    font-size: 20;
    font-family: "Roboto-Medium";
}

.action-text-save {
    font-size: 14;
    line-height: 11;
    font-weight: bold;
    height: 16;
}

.logo {
    height: 33;
    width: 93;
}

.padding {
    padding: 5 5 5 5;
}